.upload{
    width: 100%;
    border-radius: 2rem;
    span{
        vertical-align:middle;
    }
}
.folder-wrap .folder:nth-child(4n){
    margin-right: 0;
}
.folder, .file{
    background-color: $filebg;
    width: 23%;
    padding: 1rem 1.8rem;
    border-radius: 7px;
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
    span{
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.file{
    padding: 0;
    height: auto;
    position: relative;
    span{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.5rem 1rem;
        line-height: 1.5rem;
    }
    .link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
    }
    // &:hover{
    //     .file-choose>a{
    //         opacity: 1;
    //     }
    // }
}
.file-choose{
    position: relative;
    >a{
        opacity: 1;
        width: 32px;
        height: 32px;
        background: #43454A 0% 0% no-repeat padding-box;
        border: 1px solid #6B6D72;
        border-radius: 3px;
    }
}
.file-menu-click{
    &:hover{
        .file-menu{
            display: block;
        }
    }
}
.file-menu{
    display: none;
    position: absolute;
    z-index: 99;
    top: 32px;
    right: 0;
    list-style-type: none;
    width: 160px;
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 1;
    padding: 0;
    margin-bottom: 0;
    :last-child{
        border-bottom: none;
    }
    li{
        border-bottom: 1px solid #43454A;
        >a{
            text-decoration: none;
            border-radius: 3px;
            text-align: left;
            display: block;
            padding: 0.5rem 1rem;
            &:hover{
                background-color: $uploadbg;
            }
        }
    }
}
.helper{
    position: fixed;
    bottom: -400px;
    left: -260px;
    background-color: $uploadbg;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    &::before{
        content: '';
        transform: rotate(15deg);
        text-align: center;
        position: fixed;
        bottom: 60px;
        left: -15px;
        background-color: $uploadbg;
        width: 100px;
        height: 57px;
        border-radius: 100%;
    }
    &::after{
        transform: rotate(15deg);
        content: '-';
        line-height: 45px;
        text-align: center;
        position: fixed;
        bottom: 85px;
        left: 20px;
        background-color: $black;
        border: 4px solid $white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
}

.helper-upload{
    position: fixed;
    bottom: -405px;
    left: -208px;
    background-color: $uploadbg;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    &::before{
        content: '';
        line-height: 69px;
        text-align: center;
        position: fixed;
        bottom: 63px;
        left: 10px;
        background-color: $uploadbg;
        width: 100px;
        height: 57px;
        border-radius: 100%;
    }
    &::after{
        content: '-';
        line-height: 45px;
        text-align: center;
        position: fixed;
        bottom: 92px;
        left: 50px;
        background-color: $black;
        border: 4px solid $white;
        width: 20px;
        height: 20px;
        border-radius: 100%;
    }
}
.upload-msg{
    position: fixed;
    bottom: 110px;
    left: 130px;
    width: 330px;
    height: 161px;
    background: $white 0% 0% no-repeat padding-box;
    border-radius: 1rem;
    opacity: 1;
    &::after{
        content: '';
        position: fixed;
        bottom: 90px;
        left: 119px;
        border-color: $white transparent transparent transparent;
        border-style: solid solid solid solid;
        border-width: 15px 5px 15px 5px;
        transform: rotate(45deg); 
        height: 0px; 
        width: 0px; 
    }
}
.progess{
    position: relative;
    height: 7px;
    background-color: $uploadbg;
    border-radius: 3px;
    &::after{
        content: '';
        position: absolute;
        width: 241px;
        border-radius: 10px;
        z-index: -1;
        top: -3px;
        left: -3px;
        height: 13px;
        background-color:#2F3136;
    }
}
.pos-wrap{
    position: relative;
    .folder-link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.star-pos{
    position: relative;
    .star-link{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}